<!-- Action Form, use htmx for dynamic updates -->

{% extends 'layout.html' %}

{% block content %}

<div style="margin: 10px; margin-left: auto; margin-right: auto; width: 68%;">

	<form id="action-form" hx-on::after-request="this.reset()" hx-post="/" hx-target="#results" hx-swap="innerHTML">
	<select name="actions" id="actions">
		{% for action in actions %}
		<option value="{{ action }}">{{ action }}</option>
		{% endfor %}
	</select>

	<select name="agents" id="agents">
		{% for agent in agents %}
		<option value="{{ agent.name }}">{{ agent.name }}</option>
		{% endfor %}
	</select>

	<input type="text" name="reason" id="reason" placeholder="Reason for action" required>

	<button>Send Command</button>
	<!-- Reset button with confirmation dialog -->
	<!-- Reload page after reset to clear log display -->
	<button hx-put="/reset" hx-confirm="Are you sure you want to reset the log?" hx-target="#results" hx-swap="innerHTML"
		hx-on::after-request="window.location.reload()">Reset Log</button>
</form>
<h3>Log</h3>
<div id="results" style="
        margin-top: 10px;
        max-height: 720px;
        overflow-y: auto;
		border: 1px solid #ccc;
        overflow-x: hidden;
    ">
	{% include 'status_box.html' %}
</div>

</div>

{% endblock %}